@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        

       <header>Welcome to Cuyahoga Community College Student Services Online</header>
       <p id="underHeader">Cuyahoga Community College recognizes student's rights to access personal and academic records<br> 
        in accordance with the Family Education Rights and Privacy Act of 1974(FERPA) as amended by<br>
        Public Law 93-568.
       </p>
       
        <div>
            <div id="login">
                <p>
                    Already have an account with us?<br>
                    Returning users may log in by entering<br>
                    their site username and password.
                </p>

                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            
            <div>

            </div>
        </div>
    </body>

</html>